
.app-container
{
  border: 1px solid black;
}

.secContainer
{
  border: 1px solid transparent;
  float: right;
  margin-right: 50px;

}

.container
{
  border: 1px solid transparent;
  float: left;

}
.input
{
  padding-left: 15px;
  margin-top: 15px;

}


table {
  border-collapse: collapse;
  /*float: right;*/
}

th,
td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px;
  font-size: 32px;
}

th {
  background-color:transparent;
  border-bottom-color: black;
  
}

td {
  background-color:transparent;
}

form {
  display: flex;
  flex-direction:column;
  gap: 10px;

}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
  
}

form * {
  font-size: 28px;
  
}

